name: build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron:  '0 0 * * 1'
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        language: [ 'javascript' ]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
        languages: ${{ matrix.language }}
    - name: Install Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 16
    - run: npm install
    - run: npm run lint
    - run: npm test
    - run: npm run compile
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1